<h1>Add new course</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" novalidate>
    <div class="input-field col s6">
        <input id="title" name="title" type="text" class="validate" value="{{data.title}}" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field col s6">
        <input id="price" name="price" type="number" class="validate"  value="{{data.price}}" required min="1">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену"></span>

    </div>
    <div class="input-field col s6">
        <input id="img" name="img" type="text" class="validate"  value="{{data.img}}" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>
    <input type="hidden" name="_csrf" value={{csrf}}>
    <button class="btn btn-primary">Добавить курс</button>
</form>